openapi: 3.0.0
info:
  version: '1.0a'
  title: Omni Single API
  description: 'Alpha Version (2024-03-14)'
servers:
  - url: https://ws-api-platform.business.hsbc.com.hk/glcm-mobilecoll-mccon-ea-merchantservices-proxy/v1
    description: Production
  - url: https://ws-api-platform-pprd.business.hsbc.com.hk/glcm-mobilecoll-mccon-ea-merchantservices-proxy/v1
    description: Sandbox
tags:
  - name: Orders
    description: |
      An order is a checkout session that facilitates the receipt of payments. Each checkout session processes only a single payment. Once the status changes to ```paid``` or ```closed```, the checkout session accepts no further payment requests.
  - name: PayIDs
    description: |
      PayID is a real-time payment method used in Australia. A PayID allows users to link easy-to-remember pieces of information, such as their phone number or email address, to their account.
  - name: QR Codes
    description: |
      Generate a QR Code linked to a payment request, facilitated by one of the instant fund transfer systems.
  - name: Subscriptions
    description: |
      Subscription allows you to set up and manage recurring payments.
      
      *Not all Subscription Models support cancellation, suspension or resumption. For more details, please see the [Documentation](#apidoccontentid-2596) section.*
  - name: Subscription Amendments
    description: |
      Amend the recurring payment plan of a Subscription.
      
      *Not all Subscription Models support amendment. For more details, please see the [Documentation](#apidoccontentid-2596) section.*
  - name: Payments
    description: |
      Payments can be associated with entities ```ORDER```, ```PAYID```, ```QR_CODE``` or ```SUBSCRIPTION```.
      
      *Different models offer varying payment cancellation capabilities.. For more details, please see the [Documentation](#apidoccontentid-2596) section.*
  - name: Refunds
    description: |
      You can issue a refund for a payment that has already been made. These refunds can be linked with the ```PAYMENT``` entity.
      
      *Different models offer varying refund capabilities. For more details, please see the [Documentation](#apidoccontentid-2596) section.*
  - name: Webhooks
    description: |
      ### EVENT-DRIVEN API
      An event-driven REST API is triggered by specific changes or events, instead of traditional explicit request calls to specific endpoints. This allows applications to respond instantly when designated events occur.
      
      ### URL CONFIGURATION
      To receive these callbacks, a URL must be established. This webhook URL can be defined within the ```ORDER```, ```SUBSCRIPTION```, ```PAYID```, or ```QR_CODE``` objects.
      
      Prior to use, the domain of the webhook URL must be registered within the HSBC system. For more information, please reach out to the HSBC team.
      
      The callback is sent using the HTTP POST method. It's essential that the client's exposed endpoint adheres to a security standard of TLS 1.2 or higher. Please note that the server certificate must be provided by a widely recognized commercial certificate authority; self-signed or internally signed certificates won't be accepted.
      
      ### HANDLING EXCEPTIONS
      Any event resulting in a non-2xx response is deemed an event delivery failure, triggering a retry mechanism. A maximum of 4 retries will occur, with each taking place every 2 minutes. This leads to a total of 5 calls, including the first attempt.
      
      ### IDEMPOTENCY
      There may be circumstances in which your endpoint receives the same webhook multiple times. This could occur due to expected behavior like the retry mechanism or unforeseen issues such as network problems.
      
      To manage these duplicate webhooks, we provide a unique webhook ID (referenced as ```x-hsbc-webhook-id``` in the HTTP header) with every webhook. This assists in identifying and processing repeat webhooks appropriately.
  # - name: System Check
  #   description: ''
  # - name: Reference
  #   description: |
  #     ## *NOTE: In the final version, this section will be moved to the User Guide. For the most up-to-date information, please refer to the User Guide.* ##
    
  #     ### Common Rule or Format of Input Fields
  #     Type of Input Field | Rule or Format | Example | Exception
  #     ---|---|---|---
  #     User-assigned Entity ID | • Alphanumeric text ranged from 5 to 30<br>• Hyphen ```-```and underscore ```_``` are accepted | GB-88GH65_AS456H | ***• Accepted text range of Malaysia EG<br>Hosted Checkout and Thailand CP<br>Hosted Checkout is 5 to 20<br>• Hyphen and underscore are not<br>accepted by Japan SN Direct Checkout***
  #     Date and Time | • Unix time<br>• 10 digits without millisecond | 1678988838
  #     Amount | • Maximum 10 digits<br>• Include decimal places<br>• No comma or dot | 1,250.50 USD = 125050<br>150,250 JPY = 150250 | ***• Accepted range of amount may be varied<br>according to some payment models, please<br>see the Supported Currencies for details.***
  #     Description | • Free text ranged from 5 to 140 characters<br>• Symbols and non-ASCII characters are accepted<br>
      
  #     ### List of Payment Models and Properties
      
  #     Subscription Models | Supported API Endpoints | Supported Payment Methods | Supported Currencies | Supported Refund Types
  #     ---|---|---|---|----
  #     Australia FS Recurring | POST /subscriptions<br>GET /subscriptions/{id}<br>POST /subscriptions/{id}<br>GET /payments/{id}<br>POST /payments/{id}<br>POST /payments/{id}/cancel<br>GET /subscriptions/{id}/payments<br>POST /payments/{id}/refunds<br>GET /payments/{id}/refunds<br>GET /refunds/{id}<br>POST /refunds/{id} | card | aud | full<br>partial<br>multiple
  #     Australia AZ Payment Agreement | POST /subscriptions<br>GET /subscriptions/{id}<br>POST /subscriptions/{id}<br>POST /subscriptions/{id}/cancel<br>POST /subscriptions/{id}/suspend<br>POST /subscriptions/{id}/resume<br>POST /subscriptions/{id}/amendments<br>GET /amendments/{id}<br>POST /amendments/{id}<br>GET /subscriptions/{id}/amendments<br>GET /payments/{id}<br>POST /payments/{id}<br>GET /subscriptions/{id}/payments<br>POST /subscriptions/{id}/payments<br> | payto | aud | not supported
  #     Bangladesh SL Recurring | | | | 
  #     India RP Subscription | | | | 
  #     India HSBC UPI Mandate | | | | 
  #     Singapore FS Recurring | | | | 
      
  #     Hosted Checkout Models | Supported API Endpoints | Supported Payment Methods | Supported Currencies | Supported Refund Types
  #     ---|---|---|---|----
  #     Australia FS Hosted Checkout | POST /orders<br>GET /orders/{id}<br>POST /orders/{id}<br>GET /payments/{id}<br>POST /payments/{id}<br>POST /payments/{id}/cancel<br>GET /orders/{id}/payments<br>POST /payments/{id}/refunds<br>GET /payments/{id}/refunds<br>GET /refunds/{id}<br>POST /refunds/{id} | card | aud | full<br>partial<br>multiple
  #     Bangladesh SL Hosted Checkout | | | | 
  #     Indonesia JK Hosted Checkout | | | | 
  #     India PU Hosted Checkout | | | | 
  #     India RP Hosted Checkout | | | | 
  #     Japan SN Hosted Checkout | | | | 
  #     Korea FS Hosted Checkout | | | | 
  #     Malaysia EG Hosted Checkout | | | | 
  #     Singapore FS Hosted Checkout | | | | 
  #     Thailand CP Hosted Checkout | | | | 
  #     United Kingdom Hosted Checkout | POST /orders<br>GET /orders/{id}<br>POST /orders/{id}<br>GET /payments/{id}<br>POST /payments/{id}<br>**POST /payments/{id}/cancel**<br>***\*For card payment only***<br>GET /orders/{id}/payments<br>**POST /payments/{id}/refunds**<br>***\*Wechat Pay is not supported***<br>GET /payments/{id}/refunds<br>GET /refunds/{id}<br>POST /refunds/{id} | card<br>paypal<br>wechat_pay | gbp<br>eur<br>usd | full<br>partial<br>multiple
  #     United Kingdom Open Banking | POST /orders<br>GET /orders/{id}<br>POST /orders/{id}<br>GET /payments/{id}<br>POST /payments/{id}<br>GET /orders/{id}/payments<br>POST /payments/{id}/refunds<br>GET /payments/{id}/refunds<br>GET /refunds/{id}<br>POST /refunds/{id} | faster_payments | gbp<br>***\*Minimum 10.00 GBP*** | full<br>partial
  #     Vietnam PY Hosted Checkout | | | | 
  #     Vietnam VT Hosted Checkout | | | | 
      
  #     Direct Checkout Models | Supported API Endpoints | Supported Payment Methods | Supported Currencies | Supported Refund Types
  #     ---|---|---|---|----
  #     India HSBC UPI Checkout | | | | 
  #     Japan SN Direct Checkout | | | | 
  #     United Kingdom Direct Checkout | POST /orders<br>GET /orders/{id}<br>POST /orders/{id}<br>GET /payments/{id}<br>POST /payments/{id}<br>POST /payments/{id}/cancel<br>GET /orders/{id}/payments<br>POST /payments/{id}/refunds<br>GET /payments/{id}/refunds<br>GET /refunds/{id}<br>POST /refunds/{id} | apple_pay<br>google_pay | gbp<br>eur<br>usd | full<br>partial<br>multiple
      
  #     Real-time Payment Models | Supported API Endpoints | Supported Payment Methods | Supported Currencies | Supported Refund Types
  #     ---|---|---|---|----
  #     Australia AZ PayID | POST /payids<br>GET /payids/{id}<br>POST /payids/{id}<br>POST /payids/{id}/deregister<br>GET /payments/{id}<br>POST /payments/{id}<br>GET /payids/{id}/payments<br>POST /payments/{id}/refunds<br>GET /payments/{id}/refunds<br>GET /refunds/{id}<br>POST /refunds/{id} | payid | aud | full<br>partial
  #     Hong Kong FPS | | |
  #     Malaysia DUITNOW | | |
  #     Singapore PAYNOW | | |
  #     Thailand PROMPTPAY | | |
      
  #     ### Error Codes and Messages returned by HSBC API Gateway
  #     HTTP Code | System Code | System Message
  #     ---|---|---
  #     400 | encryption_error | The encryption key or the encrypted message is invalid.
  #     400 | signature_error | The signing key or the digital signature is invalid.
  #     400 | signature_expired | The digital signature has expired.
  #     400 | location_invalid | The location defined in the HTTP header is invalid or not supported.
  #     400 | merchant_profile_invalid | The merchant ID is invalid.
  #     400 | schema_error | Display auto-generated message from JSON schema
  #     402 | duplicate_id_not_allowed | Duplicate ID is not allowed to create the entity.
  #     402 | id_not_found | ID or record is not found.
paths:
  # /.well-known/memory:
  #   get:
  #     tags:
  #       - System Check
  #     description: Get memory info
  #     responses:
  #       '200':
  #         description: Success
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 totalMemory:
  #                   type: string
  #                   description: 'Type total memory'
  #                 maxMemory:
  #                   type: string
  #                   description: 'Type max memory'
  #                 freeMemory:
  #                   type: string
  #                   description: 'Type free memory'
  #                 time:
  #                   type: integer
  #                   description: 'Time at which the error occurred. Measured in seconds since the Unix epoch.'
  #             example:
  #               totalMemory: 371 MB
  #               maxMemory: 371 MB
  #               freeMemory: 239 MB
  #               time: 1675854446
  #       '400':
  #         description: Bad request
  #         content:
  #           text/plain:
  #             schema:
  #               type: string
  #               pattern: ^[^\n]+$
  #             example: Bad request.
  #       '500':
  #         description: System error
  #         content:
  #           text/plain:
  #             schema:
  #               type: string
  #               pattern: ^[^\n]+$
  #             example: System error.
  # /.well-known/health:
  #   get:
  #     tags:
  #       - System Check
  #     description: Health check
  #     responses:
  #       '200':
  #         description: Success
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 type:
  #                   type: string
  #                   description: ''
  #                 apiVersion:
  #                   type: string
  #                   description: ''
  #                 hostInstanceId:
  #                   type: string
  #                   description: ''
  #                 status:
  #                   type: integer
  #                   description: ''
  #             example:
  #               type: datetime
  #               apiVersion: 1.0.28
  #               hostInstanceId: glcm-mobilecoll-mccon-ea-merchantservices-1-0-28-deploymentb4pqh
  #               status: OK
  #       '400':
  #         description: Bad request
  #         content:
  #           text/plain:
  #             schema:
  #               type: string
  #               pattern: ^[^\n]+$
  #             example: Bad request.
  #       '500':
  #         description: System error
  #         content:
  #           text/plain:
  #             schema:
  #               type: string
  #               pattern: ^[^\n]+$
  #             example: System error.
  /orders:
    post:
      tags:
        - Orders
      summary: Create an Order
      description: |
        To create an Order is essentially to create a Checkout Session. Depending on the selected Checkout Model, this session can either enable direct payment, or provide an HTML form, a URL link, or a Javascript codelet for accessing the Hosted Payment Page.
      parameters:
        - $ref: '#/components/parameters/order-x-hsbc-msg-encrypt-id'
        - $ref: '#/components/parameters/message_encrypt'
      requestBody:
        description: |
          ***The request body must be encrypted before sending. The unencrypted message shown below is merely for illustrative purposes.***
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - amount
                - currency
                - description
                - checkout_model
                - items
              properties:
                id:
                  type: string
                  minLength: 5
                  maxLength: 30
                  pattern: ^[a-zA-Z0-9_-]+$
                  description: 'Order ID. Assigned by User.'
                amount:
                  type: integer
                  pattern: ^[\d]{1,10}$
                  description: |
                    Order amount.
                    
                    **Special rules may apply. For more details, please see the [Documentation](#apidoccontentid-2596) section.*
                currency:
                  type: string
                  pattern: ^[a-z]{3}$
                  description: 'Three-letter ISO currency code, in lowercase.<br><br>**Supported currencies may vary among different locations and models. For more details, please see the [Documentation](#apidoccontentid-2596) section.*'
                description:
                  type: string
                  minLength: 5
                  maxLength: 140
                  description: 'Description of this Order.'
                checkout_model:
                  type: object
                  description: |
                    Checkout Model.
                    
                    Model | Definition
                    ---|---
                    au_fs_hosted_checkout | Australia FS Hosted Checkout
                    bd_sl_hosted_checkout | Bangladesh SL Hosted Checkout
                    id_jk_hosted_checkout | Indonesia JK Hosted Checkout
                    in_hsbc_upi_checkout | India HSBC UPI Checkout
                    in_pu_hosted_checkout | India PU Hosted Checkout
                    in_rp_overlay_hosted_checkout | India RP Overlay Hosted Checkout
                    in_rp_redirect_hosted_checkout | India RP Redirect Hosted Checkout
                    jp_sn_hosted_checkout | Japan SN Hosted Checkout
                    jp_sn_direct_checkout | Japan SN Direct Checkout
                    kr_fs_hosted_checkout | Korea FS Hosted Checkout
                    my_eg_hosted_checkout | Malaysia EG Hosted Checkout
                    ph_rz_hosted_checkout | Philippines RZ Hosted Checkout
                    sg_fs_hosted_checkout | Singapore FS Hosted Checkout
                    th_cp_hosted_checkout | Thailand CP Hosted Checkout
                    uk_gp_direct_checkout | United Kingdom Direct Checkout
                    uk_gp_hosted_checkout | United Kingdom Hosted Checkout
                    uk_gp_open_banking | United Kingdom Open Banking
                    vn_py_hosted_checkout | Vietnam PY Hosted Checkout
                    
                  oneOf:
                    - type: object
                      title: au_fs_hosted_checkout
                      properties:
                        au_fs_hosted_checkout:
                          required:
                            - url_setting
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - return_success_page
                                - return_fail_page
                                - webhook
                              type: object
                              description: ''
                              properties:
                                return_success_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect after successful completion.'
                                return_fail_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect if it fails.'  
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                            page_setting:
                              type: object
                              description: ''
                              properties:
                                payment_option:
                                  type: string
                                  description: 'Merchants can define which payment option will be exclusively displayed on the Hosted Page.'
                                  enum:
                                    - amex
                                    - diners
                                    - mastercard
                                    - unionpay
                                    - visa
                            payment_method_setting:
                              type: object
                              description: ''
                              properties:
                                card:
                                  type: object
                                  description: ''
                                  properties:
                                    tokenization:
                                      type: object
                                      description: |
                                        Card details can be tokenized. Here is the supported type of tokenization:
                                        
                                        Type | Definition
                                        ---|---
                                        Merchant-assigned Token | When initiating a new Checkout Session, merchants can assign a unique string token. This token is linked to the card details and securely stored in the payment gateway after a successful checkout. In subsequent Checkout Sessions, using this same token will activate the auto-fill functionality for the associated card details on the Hosted Checkout Page.
                                      properties:
                                        type:
                                          type: string
                                          description: 'Type of card tokenization'
                                          enum:
                                            - merchant_assigned_token
                                        token:
                                          type: string
                                          maxLength: 50
                                          description: 'A unique string token assigned by the Merchant.'
                    - type: object
                      title: bd_sl_hosted_checkout
                      properties:
                        bd_sl_hosted_checkout:
                          required:
                            - url_setting
                            - customer
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - return_success_page
                                - return_fail_page
                                - webhook
                              type: object
                              description: ''
                              properties:
                                return_success_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect after successful completion.'
                                return_fail_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect if it fails.'  
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                            page_setting:
                              type: object
                              description: ''
                              properties:
                                payment_option:
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                    - abbank
                                    - bankasia
                                    - bkash
                                    - brac_master
                                    - brac_visa
                                    - city
                                    - city_amex
                                    - city_master
                                    - city_visa
                                    - dbbl_master
                                    - dbbl_nexus
                                    - dbbl_visa
                                    - dbblmobilebanking
                                    - ebl_master
                                    - ebl_visa
                                    - ibbl
                                    - mtbl
                                    - qcash
                                    - sbl_master
                                    - sbl_visa
                                  uniqueItems: true
                                  description: 'Merchants can define which payment option will be exclusively displayed on the Hosted Page.'
                            customer:
                              required:
                              - first_name
                              - last_name
                              - email
                              - phone
                              type: object
                              description: "Customer's Details."
                              properties:
                                first_name:
                                  type: string
                                  maxLength: 20
                                  description: "Customer's first name."
                                last_name:
                                  type: string
                                  maxLength: 20
                                  description: "Customer's last name."
                                email:
                                  type: string
                                  maxLength: 50
                                  pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
                                  description: "Customer's email address."
                                phone:
                                  type: string
                                  maxLength: 20
                                  description: "Customer's phone."
                    - type: object
                      title: id_jk_hosted_checkout
                      properties:
                        id_jk_hosted_checkout:
                          required:
                            - url_setting
                            - page_setting
                            - customer
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - return_page
                                - return_cancel_page
                                - webhook
                              type: object
                              description: ''
                              properties:
                                return_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect after completion.'
                                return_cancel_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect if it is cancelled by the customer.'
                                iframe_return_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect if the hosted payment page is embedded within an iframe.'
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                            page_setting:
                              required:
                                - retry_payment
                                - expiry
                                - lang
                              type: object
                              description: ''
                              properties:
                                payment_option:
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                      - credit_card
                                      - direct_debit_bri
                                      - direct_debit_cimb
                                      - emoney_doku
                                      - emoney_ovo
                                      - emoney_shopee_pay
                                      - jenius_pay
                                      - online_to_offline_alfa
                                      - peer_to_peer_akulaku
                                      - peer_to_peer_indodana
                                      - peer_to_peer_kredivo
                                      - qris
                                      - virtual_account_bank_mandiri
                                      - virtual_account_bank_syariah_mandiri
                                      - virtual_account_bca
                                      - virtual_account_bni
                                      - virtual_account_bri
                                      - virtual_account_cimb
                                      - virtual_account_danamon
                                      - virtual_account_doku
                                      - virtual_account_permat
                                  uniqueItems: true
                                  description: 'Merchants can define which payment option will be exclusively displayed on the Hosted Page.'
                                installment_tenor_option:
                                  type: array
                                  items:
                                    type: integer
                                    enum:
                                      - 0
                                      - 3
                                      - 6
                                      - 12
                                  uniqueItems: true
                                  description: 'Merchants can define the specific installment tenor to be exclusively displayed on the installment option list. Inputting ```0``` will lead to the "no installment" option being displayed in the list.'
                                retry_payment:
                                  type: boolean
                                  description: 'Set this to ```true``` to display the result page in Checkout, allowing the customer to retry payment or switch payment options (if multiple channel options are available). This is applicable for Credit Card, DOKU Wallet, Akulaku, OVO, and ShopeePay.'
                                expiry:
                                  type: string
                                  pattern: ^[\d]{1,10}$
                                  description: 'Sets a time constraint for the Checkout page. Upon reaching this specified time, the Checkout page will be inaccessible to the customer. Measured in seconds since the Unix epoch.'
                                lang:
                                  type: string
                                  description: |
                                    To specify payment page localization.
                                    
                                    Language Code | Definition
                                    --- | ---
                                    en | English
                                    id | Bahasa Indonesia
                                    
                                  enum:
                                  - en
                                  - id
                            payment_method_setting:
                              type: object
                              description: ''
                              properties:
                                card:
                                  type: object
                                  description: ''
                                  properties:
                                    tokenization:
                                      type: object
                                      description: |
                                        Card details can be tokenized. Here is the supported type of tokenization:
                                        
                                        Type | Definition
                                        ---|---
                                        System-assigned Token | When merchants opt for the 'save card' feature during the checkout process on the hosted payment page, the payment gateway creates a token. This token, associated with the card details, is securely stored after a successful checkout and is returned in the payment callbacks. In subsequent Checkout Sessions, using this same token will activate the auto-fill functionality for the associated card details on the Hosted Checkout Page.
                                      properties:
                                        type:
                                          type: string
                                          description: 'Type of card tokenization'
                                          enum:
                                            - system_assigned_token
                                        token:
                                          type: string
                                          maxLength: 50
                                          description: 'A unique string token assigned by the Payment Gateway.'
                            customer:
                              required:
                              - first_name
                              - last_name
                              - email
                              - phone
                              - billing
                              - shipping
                              type: object
                              description: "Customer's Details."
                              properties:
                                first_name:
                                  type: string
                                  maxLength: 60
                                  description: "Customer's first name."
                                last_name:
                                  type: string
                                  maxLength: 60
                                  description: "Customer's last name."
                                email:
                                  type: string
                                  maxLength: 128
                                  pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
                                  description: "Customer's email address"
                                phone:
                                  type: string
                                  maxLength: 16
                                  description: "The customer's phone number. It should be in the format '{calling_code}{phone_number}'. For example, '6281122334455'."
                                billing:
                                  required:
                                  - first_name
                                  - last_name
                                  - address
                                  - city
                                  - state
                                  - postal_code
                                  - country
                                  - phone
                                  type: object
                                  description: "Billing Details."
                                  properties:
                                    first_name:
                                      type: string
                                      maxLength: 50
                                      description: "Customer's first name used as billing address."
                                    last_name:
                                      type: string
                                      maxLength: 50
                                      description: "Customer's last name used as billing address."
                                    address:
                                      type: string
                                      maxLength: 200
                                      description: "Customer's billing address."
                                    city:
                                      type: string
                                      maxLength: 40
                                      description: "The city of the customer's billing address."
                                    state:
                                      type: string
                                      maxLength: 40
                                      description: "The state of the customer's billing address."
                                    postal_code:
                                      type: string
                                      maxLength: 16
                                      description: "The ZIP or other postal code of the customer's billing address."
                                    country:
                                      type: string
                                      maxLength: 3
                                      description: "The country of the customer's billing address. ISO 3166-1 numeric three-digit country code. For example, US = 840."
                                    phone:
                                      type: string
                                      maxLength: 16
                                      description: "The phone number of the customer's billing address. It should be in the format '{calling_code}{phone_number}'. For example, '6281122334455'."
                                shipping:
                                  required:
                                  - first_name
                                  - last_name
                                  - address
                                  - city
                                  - state
                                  - postal_code
                                  - country
                                  - phone
                                  type: object
                                  description: "Shipping Details."
                                  properties:
                                    first_name:
                                      type: string
                                      maxLength: 50
                                      description: "Customer's first name used as shipping address."
                                    last_name:
                                      type: string
                                      maxLength: 50
                                      description: "Customer's last name used as shipping address."
                                    address:
                                      type: string
                                      maxLength: 200
                                      description: "Customer's shipping address."
                                    city:
                                      type: string
                                      maxLength: 40
                                      description: "The city of the customer's shipping address."
                                    state:
                                      type: string
                                      maxLength: 40
                                      description: "The state of the customer's shipping address."
                                    postal_code:
                                      type: string
                                      maxLength: 16
                                      description: "The ZIP or other postal code of the customer's shipping address."
                                    country:
                                      type: string
                                      maxLength: 3
                                      description: "The country of the customer's shipping address. ISO 3166-1 numeric three-digit country code. For example, US = 840."
                                    phone:
                                      type: string
                                      maxLength: 16
                                      description: "The phone number of the customer's shipping address. It should be in the format '{calling_code}{phone_number}'. For example, '6281122334455'."
                    - type: object
                      title: in_hsbc_upi_checkout
                      properties:
                        in_hsbc_upi_checkout:
                          required:
                            - url_setting
                            - payer_vpa
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - webhook
                              type: object
                              description: ''
                              properties:
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                            payer_vpa:
                              type: string
                              maxLength: 100
                              description: "A Payer's VPA (Virtual Payment Address) is a unique identifier created by the payer for initiating payments through India's UPI system."
                            expiry:
                              type: integer
                              pattern: ^[\d]{1,10}$
                              description: 'The Unix timestamp that indicates till when the customer can make the authorisation payment.'
                    - type: object
                      title: in_pu_hosted_checkout
                      properties:
                        in_pu_hosted_checkout:
                          required:
                            - url_setting
                            - customer
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - return_success_page
                                - return_fail_page
                                - webhook
                              type: object
                              description: ''
                              properties:
                                return_success_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect after successful completion.'
                                return_fail_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect if it fails.'  
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                            page_setting:
                              type: object
                              description: ''
                              properties:
                                payment_option:
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                    - card
                                    - emi
                                    - internet_banking
                                    - upi
                                    - wallet
                                  uniqueItems: true
                                  description: 'Merchants can define which payment option will be exclusively displayed on the Hosted Page.'
                            customer:
                              required:
                              - first_name
                              - last_name
                              - email
                              - phone
                              type: object
                              description: "Customer's Details."
                              properties:
                                first_name:
                                  type: string
                                  maxLength: 60
                                  description: "Customer's first name."
                                last_name:
                                  type: string
                                  maxLength: 20
                                  description: "Customer's last name."
                                email:
                                  type: string
                                  maxLength: 50
                                  pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
                                  description: "Customer's email address."
                                phone:
                                  type: string
                                  maxLength: 50
                                  description: "Customer's phone."
                    - type: object
                      title: in_rp_overlay_hosted_checkout
                      properties:
                        in_rp_overlay_hosted_checkout:
                          required:
                            - url_setting
                            - page_setting
                            - customer
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - webhook
                              type: object
                              description: ''
                              properties:
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                            page_setting:
                              required:
                                - name
                              type: object
                              description: ''
                              properties:
                                name:
                                  type: string
                                  maxLength: 50
                                  description: 'The business name shown on the Checkout page.'
                                expiry:
                                  type: string
                                  pattern: ^[\d]{1,10}$
                                  description: 'Sets a time constraint for the Checkout page. Upon reaching this specified time, the Checkout page will be inaccessible to the customer. Measured in seconds since the Unix epoch.'
                                payment_option:
                                  type: string
                                  description: 'Merchants can define which payment option will be exclusively displayed on the Hosted Page.'
                                  enum:
                                    - card
                                    - emi
                                    - internet_banking
                                    - upi
                                    - wallet
                            customer:
                              required:
                              - first_name
                              - last_name
                              - email
                              - phone
                              type: object
                              description: "Customer's Details."
                              properties:
                                first_name:
                                  type: string
                                  maxLength: 60
                                  description: "Customer's first name."
                                last_name:
                                  type: string
                                  maxLength: 20
                                  description: "Customer's last name."
                                email:
                                  type: string
                                  maxLength: 50
                                  pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
                                  description: "Customer's email address."
                                phone:
                                  type: string
                                  maxLength: 50
                                  description: "Customer's phone."
                    - type: object
                      title: in_rp_redirect_hosted_checkout
                      properties:
                        in_rp_redirect_hosted_checkout:
                          required:
                            - url_setting
                            - page_setting
                            - customer
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - return_page
                                - webhook
                              type: object
                              description: ''
                              properties:
                                return_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect after completion.'
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                            page_setting:
                              required:
                                - payment_option
                              type: object
                              description: ''
                              properties:
                                expiry:
                                  type: string
                                  pattern: ^[\d]{1,10}$
                                  description: 'Sets a time constraint for the Checkout page. Upon reaching this specified time, the Checkout page will be inaccessible to the customer. Measured in seconds since the Unix epoch.'
                                payment_option:
                                  type: string
                                  description: 'Merchants can define which payment option will be exclusively displayed on the Hosted Page.'
                                  enum:
                                    - standard
                                    - upi
                            customer:
                              required:
                              - first_name
                              - last_name
                              - email
                              - phone
                              type: object
                              description: "Customer's Details."
                              properties:
                                first_name:
                                  type: string
                                  maxLength: 60
                                  description: "Customer's first name."
                                last_name:
                                  type: string
                                  maxLength: 20
                                  description: "Customer's last name."
                                email:
                                  type: string
                                  maxLength: 50
                                  pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
                                  description: "Customer's email address."
                                phone:
                                  type: string
                                  maxLength: 50
                                  description: "Customer's phone."
                    - type: object
                      title: jp_sn_hosted_checkout
                      properties:
                        jp_sn_hosted_checkout:
                          required:
                            - url_setting
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - return_page
                                - webhook
                              type: object
                              description: ''
                              properties:
                                return_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect after completion.'
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                    - type: object
                      title: jp_sn_direct_checkout
                      properties:
                        jp_sn_direct_checkout:
                          required:
                            - url_setting
                            - payment_code
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - webhook
                              type: object
                              description: ''
                              properties:
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                            payment_code:
                              type: string
                              maxLength: 128
                              description: 'Input the QR Code data here, in text format, which is obtained from scanning the QR Code generated by the customer. For the list of supported QR Code payment providers, please refer to the [Documentation](#apidoccontentid-2596) section.'
                    - type: object
                      title: kr_fs_hosted_checkout
                      properties:
                        kr_fs_hosted_checkout:
                          required:
                            - url_setting
                            - page_setting
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - return_success_page
                                - return_fail_page
                                - webhook
                              type: object
                              description: ''
                              properties:
                                return_success_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect after successful completion.'
                                return_fail_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect if it fails.'  
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                            page_setting:
                              type: object
                              description: ''
                              required:
                                - lang
                                - layout
                              properties:
                                payment_option:
                                  type: string
                                  description: 'Merchants can define which payment option will be exclusively displayed on the Hosted Page.'
                                  enum:
                                  - apm
                                  - bank_account
                                  - card
                                  - mobile
                                  - virtual_account
                                lang:
                                  type: string
                                  description: |
                                    To specify payment page localization.
                                    
                                    Language Code | Definition
                                    --- | ---
                                    en | English
                                    ko | Korean
                                  enum:
                                  - en
                                  - ko
                                layout:
                                  type: string
                                  description: 'To specify the layout for rendering the payment page.'
                                  enum:
                                  - desktop
                                  - mobile
                    - type: object
                      title: my_eg_hosted_checkout
                      properties:
                        my_eg_hosted_checkout:
                          required:
                            - url_setting
                            - page_setting
                            - customer
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - return_page
                                - webhook
                              type: object
                              description: ''
                              properties:
                                return_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect after completion.'
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                            page_setting:
                              required:
                                - expiry
                                - lang
                              type: object
                              description: ''
                              properties:
                                payment_option:
                                  type: string
                                  description: 'Merchants can define which payment option will be exclusively displayed on the Hosted Page.'
                                  enum:
                                    - card
                                    - direct_debit
                                    - wallet
                                expiry:
                                  type: string
                                  pattern: ^[\d]{1,10}$
                                  description: 'Sets a time constraint for the Checkout page. Upon reaching this specified time, the Checkout page will be inaccessible to the customer. Measured in seconds since the Unix epoch.'
                                lang:
                                  type: string
                                  description: |
                                    To specify payment page localization.
                                    
                                    Language Code | Definition
                                    --- | ---
                                    en | English
                                    ms | Malay
                                    th | Thai
                                  enum:
                                  - en
                                  - ms
                                  - th
                            payment_method_setting:
                              type: object
                              description: ''
                              properties:
                                card:
                                  type: object
                                  description: ''
                                  properties:
                                    tokenization:
                                      type: object
                                      description: |
                                        Card details can be tokenized. Here is the supported type of tokenization:
                                        
                                        Type | Definition
                                        ---|---
                                        System-assigned Token | When merchants opt for the 'save card' feature during the checkout process on the hosted payment page, the payment gateway creates a token. This token, associated with the card details, is securely stored after a successful checkout and is returned in the payment callbacks. In subsequent Checkout Sessions, using this same token will activate the auto-fill functionality for the associated card details on the Hosted Checkout Page.
                                      properties:
                                        type:
                                          type: string
                                          description: 'Type of card tokenization'
                                          enum:
                                            - system_assigned_token
                                        token:
                                          type: string
                                          maxLength: 50
                                          description: 'A unique string token assigned by the Payment Gateway.'
                            customer:
                              required:
                              - first_name
                              - last_name
                              - email
                              - phone
                              type: object
                              description: "Customer's Details."
                              properties:
                                first_name:
                                  type: string
                                  maxLength: 20
                                  description: "Customer's first name."
                                last_name:
                                  type: string
                                  maxLength: 20
                                  description: "Customer's last name."
                                email:
                                  type: string
                                  maxLength: 60
                                  pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
                                  description: "Customer's email address"
                                phone:
                                  type: string
                                  maxLength: 20
                                  description: "Customer's phone number."
                    - type: object
                      title: ph_rz_hosted_checkout
                      properties:
                        ph_rz_hosted_checkout:
                          required:
                            - url_setting
                            - page_setting
                            - customer
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - return_page
                                - return_cancel_page
                                - webhook
                              type: object
                              description: ''
                              properties:
                                return_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect after completion.'
                                return_cancel_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect if it is cancelled by the customer.'
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                            page_setting:
                              type: object
                              required:
                                - expiry
                              description: ''
                              properties:
                                payment_option:
                                  type: string
                                  description: 'Merchants can define which payment option will be exclusively displayed on the Hosted Page.'
                                  enum:
                                  - bpi
                                  - card
                                  - dragonpay
                                  - gcash
                                  - grabpay
                                  - paymaya
                                  - razer_cash
                                  - shopeepay
                                  - unionbank
                                expiry:
                                  type: integer
                                  pattern: ^[\d]{1,10}$
                                  description: 'The Unix timestamp that indicates till when the customer can make the authorisation payment. Do not pass any value if you do not want to set an expiry date.'
                            customer:
                              required:
                              - first_name
                              - last_name
                              - email
                              type: object
                              description: "Customer's Details."
                              properties:
                                first_name:
                                  type: string
                                  maxLength: 60
                                  description: "Customer's first name."
                                last_name:
                                  type: string
                                  maxLength: 60
                                  description: "Customer's last name."
                                email:
                                  type: string
                                  maxLength: 128
                                  pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
                                  description: "Customer's email address"
                    - type: object
                      title: sg_fs_hosted_checkout
                      properties:
                        sg_fs_hosted_checkout:
                          required:
                            - url_setting
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - return_success_page
                                - return_fail_page
                                - webhook
                              type: object
                              description: ''
                              properties:
                                return_success_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect after successful completion.'
                                return_fail_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect if it fails.'  
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                            page_setting:
                              type: object
                              description: ''
                              properties:
                                payment_option:
                                  type: string
                                  description: 'Merchants can define which payment option will be exclusively displayed on the Hosted Page.'
                                  enum:
                                    - emi
                                    - grabpay
                                    - mastercard
                                    - visa
                            payment_method_setting:
                              type: object
                              description: ''
                              properties:
                                card:
                                  type: object
                                  description: ''
                                  properties:
                                    tokenization:
                                      type: object
                                      description: |
                                        Card details can be tokenized. Here is the supported type of tokenization:
                                        
                                        Type | Definition
                                        ---|---
                                        Merchant-assigned Token | When initiating a new Checkout Session, merchants can assign a unique string token. This token is linked to the card details and securely stored in the payment gateway after a successful checkout. In subsequent Checkout Sessions, using this same token will activate the auto-fill functionality for the associated card details on the Hosted Checkout Page.
                                      properties:
                                        type:
                                          type: string
                                          description: 'Type of card tokenization'
                                          enum:
                                            - merchant_assigned_token
                                        token:
                                          type: string
                                          maxLength: 50
                                          description: 'A unique string token assigned by the Merchant.'
                    - type: object
                      title: th_cp_hosted_checkout
                      properties:
                        th_cp_hosted_checkout:
                          required:
                            - url_setting
                            - page_setting
                            - customer
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - return_page
                                - webhook
                              type: object
                              description: ''
                              properties:
                                return_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect after completion.'
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                            page_setting:
                              required:
                                - lang
                              type: object
                              description: ''
                              properties:
                                payment_option:
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                    - '123'
                                    - alipay
                                    - bank
                                    - bildk
                                    - boost
                                    - cc
                                    - emvqr
                                    - full
                                    - gcash
                                    - grab
                                    - ipp
                                    - kcp
                                    - kiosk
                                    - line
                                    - loan
                                    - momo
                                    - mpass
                                    - mpu
                                    - octpay
                                    - otc
                                    - paymaya
                                    - paypal
                                    - paynow
                                    - sspay
                                    - tng
                                    - truemoney
                                    - upop
                                    - wave
                                    - shppay
                                    - shpqr
                                    - wcqr
                                    - wechat
                                    - hoolah
                                    - atome
                                    - billease
                                    - humm
                                    - fnpl
                                    - q
                                    - wallet
                                  uniqueItems: true
                                  description: |
                                    Merchants can define which payment option will be exclusively displayed on the Hosted Page.
                                    
                                    Payment Option | Definition
                                    --- | ---
                                    123 | Alternative Payment Method
                                    alipay | Alipay
                                    bank | 123 BANK
                                    bildk | Billdesk
                                    boost | Boost Wallet
                                    cc | Credit Card Payment
                                    emvqr | EMV QR (Merchant QR)
                                    full | Full amount (No IPP Payment) payment only
                                    gcash | GCash
                                    grab | GrabPay Wallet
                                    ipp | IPP (Installment Payment Plan) payment only
                                    kcp | Korean Cyper Payments
                                    kiosk | KIOSK
                                    line | LinePay
                                    loan | Loan Card
                                    momo | MOMO Wallet
                                    mpass | Masterpass
                                    mpu | Myanmar Payment Union
                                    octpay | Octopus
                                    otc | 123 OVER THE COUNTER
                                    paymaya | PayMaya
                                    paypal | Paypal
                                    paynow | PayNow
                                    sspay | Samsung Pay
                                    tng | Touch 'n Go Wallet
                                    truemoney | TRUEMONEY
                                    upop | China UnionPay
                                    wave | WavePay
                                    shppay | ShopeePay Wallet
                                    shpqr | Shopeepay Wallet (Customer QR)<br>**For Indonesia Only*
                                    wcqr | Wechat Pay (Merchant QR)
                                    wechat | Wechat Pay (Merchant QR)<br>**Applicable only when v4 proxy is enabled*
                                    hoolah | Hoolah
                                    atome | Atome Payment
                                    billease | Billease
                                    humm | Humm
                                    fnpl | Fly Now Pay Later
                                    q | QR Payment
                                    wallet | Wallet Payment
                                    
                                lang:
                                  type: string
                                  description: |
                                    To specify payment page localization.
                                    
                                    Language Code | Definition
                                    --- | ---
                                    en | English
                                    id | Bahasa Indonesia
                                    ja | Japanese
                                    my | Burmese
                                    th | Thai
                                    vi | Vietnamese
                                    zh | Simplified Chinese
                                  enum:
                                  - en
                                  - id
                                  - ja
                                  - my
                                  - th
                                  - vi
                                  - zh
                            payment_method_setting:
                              type: object
                              description: ''
                              properties:
                                apm:
                                  type: object
                                  description: 'Alternative Payment Method'
                                  properties:
                                    payment_code_expiry:
                                      type: string
                                      pattern: ^[\d]{1,10}$
                                      description: 'Set the expiration date/time for an APM, measured in seconds from the Unix epoch. If not specified, the system will default to the expiration date/time configured on the merchant profile. There is no upper limit for the expiry date.'
                            customer:
                              required:
                              - email
                              type: object
                              description: "Customer's Details."
                              properties:
                                email:
                                  type: string
                                  maxLength: 30
                                  pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
                                  description: "Customer's email address."
                    - type: object
                      title: uk_gp_direct_checkout
                      properties:
                        uk_gp_direct_checkout:
                          required:
                            - url_setting
                            - payment_method_setting
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - webhook
                              type: object
                              description: ''
                              properties:
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                            payment_method_setting:
                              type: object
                              required:
                                - card
                              description: ''
                              properties:
                                card:
                                  type: object
                                  required:
                                    - wallet
                                  description: ''
                                  properties:
                                    wallet:
                                      type: object
                                      required:
                                        - type
                                        - payment_token
                                      description: |
                                        Users can select one of the card wallets and use the corresponding payment token to make a payment. To acquire a payment token, a merchant must establish an Apple Pay or Google Pay merchant account, deploy all necessary digital certificates, and then access their APIs.<br>*Please contact the HSBC team for more details.*
                                      properties:
                                        type:
                                          type: string
                                          description: 'Type of card wallet'
                                          enum:
                                            - apple_pay
                                            - google_pay
                                        payment_token:
                                          type: string
                                          maxLength: 5000
                                          description: |
                                            A payment token, generated by the Apple Pay/Google Pay API, is a JSON object encapsulating encrypted user payment credentials. For guidance on generating a payment token and ensuring its format validity, please refer to the [Documentation](#apidoccontentid-2596) section.
                    - type: object
                      title: uk_gp_hosted_checkout
                      properties:
                        uk_gp_hosted_checkout:
                          required:
                            - url_setting
                            - customer
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - return_page
                                - webhook
                              type: object
                              description: ''
                              properties:
                                return_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect after completion.'
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                            page_setting:
                              type: object
                              description: ''
                              properties:
                                payment_option:
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                      - card
                                      - paypal
                                      - test_pay
                                      - wechat_pay
                                  uniqueItems: true
                                  description: 'Merchants can define which payment option will be exclusively displayed on the Hosted Page.'
                            customer:
                              required:
                              - first_name
                              - last_name
                              - email
                              - billing
                              - shipping
                              type: object
                              description: "Customer's Details."
                              properties:
                                first_name:
                                  type: string
                                  maxLength: 60
                                  description: "Customer's first name."
                                last_name:
                                  type: string
                                  maxLength: 60
                                  description: "Customer's last name."
                                email:
                                  type: string
                                  maxLength: 254
                                  pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
                                  description: "Customer's email address"
                                phone:
                                  type: string
                                  maxLength: 20
                                  description: "The mobile phone number provided by the Cardholder. It should be in the format 'CountryCallingCode|Number'. For example, '1|123456789'.<br><br>For European merchants, this field is mandatory for Strong Customer Authentication (SCA) if captured by your application or website. Recommend to provide at least one type of phone number (Mobile, Home, or Work)."
                                billing:
                                  required:
                                  - address_line1
                                  - address_line2
                                  - address_line3
                                  - city
                                  - postal_code
                                  - country
                                  type: object
                                  description: "Billing Details."
                                  properties:
                                    address_line1:
                                      type: string
                                      maxLength: 50
                                      description: "First line of the customer's billing address."
                                    address_line2:
                                      type: string
                                      maxLength: 50
                                      description: "Second line of the customer's billing address."
                                    address_line3:
                                      type: string
                                      maxLength: 50
                                      description: "Third line of the customer's billing address."
                                    city:
                                      type: string
                                      maxLength: 40
                                      description: "The city of the customer's billing address."
                                    postal_code:
                                      type: string
                                      maxLength: 16
                                      description: "The ZIP or other postal code of the customer's billing address."
                                    country:
                                      type: string
                                      maxLength: 3
                                      description: "The country of the customer's billing address. ISO 3166-1 numeric three-digit country code. For example, US = 840."
                                shipping:
                                  required:
                                  - address_line1
                                  - address_line2
                                  - address_line3
                                  - city
                                  - postal_code
                                  - state
                                  - country
                                  type: object
                                  description: "Shipping Details."
                                  properties:
                                    address_line1:
                                      type: string
                                      maxLength: 50
                                      description: "First line of the customer's shipping address."
                                    address_line2:
                                      type: string
                                      maxLength: 50
                                      description: "Second line of the customer's shipping address."
                                    address_line3:
                                      type: string
                                      maxLength: 50
                                      description: "Third line of the customer's shipping address."
                                    city:
                                      type: string
                                      maxLength: 40
                                      description: "The city of the customer's shipping address."
                                    postal_code:
                                      type: string
                                      maxLength: 16
                                      description: "The ZIP or other postal code of the customer's shipping address."
                                    state:
                                      type: string
                                      maxLength: 3
                                      description: "The state of the customer's shipping address. Country subdivision code defined in ISO 3166-2 minus the country code itself. For example, Illinois = IL. Applicable for US and CA addresses."
                                    country:
                                      type: string
                                      maxLength: 3
                                      description: "The country of the customer's shipping address. ISO 3166-1 numeric three-digit country code. For example, US = 840."
                    - type: object
                      title: uk_gp_open_banking
                      properties:
                        uk_gp_open_banking:
                          required:
                            - url_setting
                            - remittance_reference
                          type: object
                          description: ''
                          properties:
                            url_setting:
                              required:
                                - return_page
                                - webhook
                              type: object
                              description: ''
                              properties:
                                return_page:
                                  type: string
                                  maxLength: 255
                                  description: 'A URL location to which the checkout process will redirect after completion.'
                                webhook:
                                  type: string
                                  maxLength: 255
                                  description: 'An internet-accessible URL capable of receiving payloads upon the occurrence of webhook events.<br>**Please see [Webhooks](#/Webhooks) for details.*'
                            page_setting:
                              type: object
                              description: ''
                              properties:
                                locale:
                                  type: string
                                  pattern: ^[a-z]{2}_[a-z]{2}$
                                  description: |
                                    This pre-selects the language and country value on the Bank Selection screen that the customer views. 
                                    
                                    The format is ```xx_yy```, where ```xx``` corresponds to the two-letter ISO 639-1 language code and ```yy``` corresponds to the two-letter ISO alpha-2 country code. For instance, ```en_gb``` signifies English language and the United Kingdom.
                                    
                                    Supported Languages are:
                                    * English
                                    * German
                                    * Slovenian
                                    * Portuguese
                                    * Italian
                                    * French
                                    * Czech
                                    * Polish
                                    * Spanish
                                    * Hungarian
                                    * Dutch
                            remittance_reference:
                              type: object
                              description: |
                                Remittance Reference.
                              oneOf:
                              - type: object
                                title: text
                                properties:
                                  text:
                                    type: string
                                    minLength: 2
                                    maxLength: 18
                                    description: |
                                      This serves as a description for the transaction. The majority of banks will record and display this as a reference on the customer's account.
                              - type: object
                                title: primary_account_number
                                properties:
                                  primary_account_number:
                                    type: string
                                    minLength: 2
                                    maxLength: 18
                                    description: "Allows the cardholder’s Primary Account Number (PAN) to be securely passed depending on the merchant use case."
                    - type: object
                      title: vn_py_hosted_checkout
                      properties:
                        vn_py_hosted_checkout:
                          required:
                            - url_setting
                            - page_setting
                            - customer
[...]
